//colors
$base-color:#18cfab;
$base-color-text:#d4d4d4;
$color-light:#fff;
$line-header: rgba(73,71,63,.6);


//fonts
$font-light:'Montserrat Light';
$font-bold:'Montserrat ExtraBold';
$font-regular:'Montserrat Regular';



